* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #000000;
  color: #ffffff;
  min-height: 100vh;
}

/* container */
.container {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: radial-gradient(circle at top, #111 0%, #000 70%);
  color: #fff;
  padding: 20px;
}

/* title */
h1 {
  font-size: 3rem;
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.board {
  display: grid;
  width: 90vw;
  max-width: 400px;
  aspect-ratio: 1;
  margin: 20px auto;
  background: #111;
  border: 3px solid #00ffcc;
  box-shadow: 0 0 20px #00ffcc;
}

.cell {
  background: #1a1a1a;
  border: 1px solid #222;
}

.snake {
  background: #00ff00;
  box-shadow: 0 0 10px #00ff00;
}

.food {
  background: red;
  box-shadow: 0 0 10px red;
}

.controls {
  margin-top: 15px;
}

button {
  font-size: 18px;
  margin: 5px;
  padding: 10px 15px;
  background: #111;
  color: #00ffcc;
  border: 2px solid #00ffcc;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00ffcc;
  color: #000;
  box-shadow: 0 0 15px #00ffcc;
}
